// This is meant to apply to "related items" sections,
//   i.e. resources, events, and shop

// @import this mixin into the "items" of these sections!

@mixin related-item( $n-smallest, $n-smaller, $n-small, $n-smallish, $n-medium, $n-large ) {

	padding: $mg-smallest;
	margin-top: $mg-smallest;
	// margin-bottom: $mg-smallest;

	@media #{$mq-medium} {
		padding: 1em;
		margin-top: 1em;
		// margin-bottom: 1em;
	}

	width: percentage(1/$n-smallest);;

	@media #{$mq-small} {
		width: percentage(1/$n-smallest);
	}

	@media #{$mq-small} {
		width: percentage(1/$n-smaller);
	}

	@media #{$mq-smallish} {
		width: percentage(1/$n-smallish);
	}

	@media #{$mq-medium} {
		width: percentage(1/$n-medium);
	}

	@media #{$mq-large} {
		width: percentage(1/$n-large);
	}

}

// Add this class to resources, events, and shop!
section.related {

	position: relative;

	padding-bottom: 4em;

	@media #{$mq-medium} {
		padding-top: 4em;
	}

	.container {

		@media #{$mq-medium} {
			display: flex;
			justify-content: space-between;
		}

	}

	.title {

		flex-basis: 25%;

		display: flex;
		justify-content: space-between;
		align-items: center;

		padding-top: 1.5em;
		padding-bottom: 1em;

		$font-min: 1.4em;
		$font-max: 1.6em;

		h2 {

			font-family: 'BrandonGrotesqueWeb', sans-serif;
			font-weight: bold;

			font-size: $font-min;
			line-height: 1.25;
			color: $color-text;
			letter-spacing: 0.08em;

			text-transform: uppercase;

			padding: 0.5em 0;
			padding-right: 0.5em;

			@media #{$mq-smallest} {

				font-size: between( $font-min, $font-max, $bp-smallest, $bp-medium );

			}

		}

		@media #{$mq-medium} {

			padding-top: 0em;
			padding-bottom: 0.5em;

			display: block;
			flex-wrap: wrap;
			margin-right: 2em;

			h2 {
				font-size: $font-max;
				padding-bottom: 1em;
				padding-right: 0em;
			}

		}

	}

	.wrapper {

		flex-basis: 75%;

		display: flex;
		flex-wrap: wrap;

		margin: -#{$mg-smallest};

		@media #{$mq-medium} {
			margin: -1em;
		}

		// See @mixin above for nested items

	}

	.item {

		h4 {
			font-family: 'GaramondMTPro', serif;
			margin-bottom: 1.25em;

			font-size: 1.25em;
		}

		h5 {
			font-family: 'BrandonGrotesqueWeb', sans-serif;
			font-weight: bold;
			color: #ffffff;

			font-size: 0.75em;
			height: 2em;

			line-height: 1.5;
			letter-spacing: 0.25em;
			text-transform: uppercase;
			margin-bottom: 1em;

			// Adds some definition to the letters
			text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
		}

		p {
			font-size: 1em;
		}

		@media #{$mq-small} {

			h4 {
				font-size: 1.2em;
			}

			h5 {
				font-size: 0.7em;
				height: 3em;
			}

			p {
				font-size: 1em;
			}

		}

		@media #{$mq-medium} {

			h4 {
				font-size: 1.0em;
			}

			h5 {
				font-size: 0.6em;
				height: 3em;
			}

			p {
				font-size: 0.8em;
			}

		}

		@media #{$mq-large} {

			h4 {
				font-size: 0.95em;
			}

		}

	}
}
