section.video {

	background-color: #F7E3D7;

	iframe {
		padding: 1px;
	}

	.container img.unpublished {
		margin-left: auto;
		margin-right: auto;
		display: block;
		width: 100%;
	}
	.video-js {

		background-color: transparent;
		overflow: hidden;

		&.vjs-has-started > div > iframe {
			margin-left: -2px;
		}

		position: relative;
		width: 100%;
		z-index: 0;
	}

	.vjs-big-play-centered .vjs-big-play-button {

		background-image: none;
		background-position: center center;
		background-size: cover;

		margin-top: 0;
		margin-left: 0;

		transform: translate(-50%, -50%);
	}

	.video-js .vjs-big-play-button {
		background-color: rgba(0,0,0,0);

		border-radius: 50%;
		border: 0;

		height: 3em;
		width: 3em;

		@media #{$mq-smallish} {
			height: 5em;
			width: 5em;
		}
	}

	// .vjs-icon-play:before,
	// .video-js .vjs-play-control:before,
	.video-js .vjs-big-play-button:before {
		content: "";
	}

	.video-js .vjs-remaining-time-display {
		margin-top: 0.6em;
	}

	.vjs-slider-horizontal .vjs-volume-level:before {
		top: -0.5em;
	}

	.video-js .vjs-play-progress:before {
		top: -0.5em;
	}
}
